
<% extends "_base.html" %>

<% block content %>
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>User Home</title>
    <link href="static/css/bootstrap.min.css" rel="stylesheet">
    <link href="static/css/style.css" rel="stylesheet">

  </head>
  <body>
<nav class="navbar">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="home">e-SEWA</a>
    </div>
    <ul class="nav navbar-nav">
      <li class="active"><a href="home">Home</a></li>
      <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#">About Us</a>
      </li>
      <li><a href="#">Contact Us</a></li>

    </ul>
    <ul class="nav navbar-nav navbar-right">
      <li><a href="#login"><span class="glyphicon glyphicon-user"></span> Welcome, Test User</a></li>
      <li><a href="logout"><span class="glyphicon glyphicon-log-out"></span> Logout</a></li>
    </ul>
  </div>

</nav>
    
    
    <div class="row col-md-10 col-md-offset-1">
    
		<div class="col-md-3">
		<ul id="sidebar">
			<li><a href="javascript:myServices();">View My Services</a></li>
			<li><a href="javascript:myJobs();">View My Jobs</a></li>
			<li><a href="javascript:editUser();">Edit Profile</a></li>
		</ul>
		</div>
		<div class="col-md-9">
		<!-- <div class="col-md-12" id="mainContents"> -->
		
<!-- 
  <nav class="navbar">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">e-SEWA</a>
    </div>
    <ul class="nav navbar-nav">
      <li class="active"><a href="#">Home</a></li>
      <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#">About Us</a>
      </li>
      <li><a href="#">Contact Us</a></li>

    </ul>
    <ul class="nav navbar-nav navbar-right">
      <li><a href="#login"><span class="glyphicon glyphicon-user"></span> Welcome, Test User</a></li>
      <li><a href="#register"><span class="glyphicon glyphicon-log-out"></span> Logout</a></li>
    </ul>
  </div>
</nav>
 -->

    <div class="row col-md-12 col-md-offset-0">
    <div class="panel panel-default">
  <div class="panel-heading">Edit User</div>
  <div class="panel-body">
  <div class="row col-md-10 col-md-offset-1">
        <div class="col-md-8 col-md-offset-2">
        <form id="userRegisterForm" cssClass="form-horizontal" method="post" action="saveUser">
                    
    <div class="form-group">
    	<label for="name">Name:</label>
	    <input type="text" class="form-control" id="name">
  	</div>

    <div class="form-group">
    	<label for="password">Password:</label>
	    <input type="password" class="form-control" id="password">
  	</div>
  	<div class="form-group">
    	<label for="name">Country:</label>
					    <select class="form-control" >
						  <option value="1">Country1</option>
						  <option value="2">Country2</option>
						  <option value="3">Country3</option>
						  <option value="4">Country4</option>
						</select>
  	</div>
  	<div class="form-group">
    	<label for="name">State:</label>
					    <select class="form-control" >
						  <option value="1">State1</option>
						  <option value="2">State2</option>
						  <option value="3">State3</option>
						  <option value="4">State4</option>
						</select>
  	</div>
  	<div class="form-group">
    	<label for="name">City:</label>
					    <select class="form-control" >
						  <option value="1">City1</option>
						  <option value="2">City2</option>
						  <option value="3">City3</option>
						  <option value="4">City4</option>
						</select>
  	</div>
  	<div class="form-group">
    	<label for="name">Area:</label>
					    <select class="form-control" >
						  <option value="1">Area1</option>
						  <option value="2">Area2</option>
						  <option value="3">Area3</option>
						  <option value="4">Area4</option>
						</select>
  	</div>
  	<div class="form-group">
    	<label for="name">Postal Code:</label>
	    <input type="text" class="form-control" id="name">
  	</div>
  	<div class="form-group">
    	<label for="name">Phone:</label>
	    <input type="text" class="form-control" id="name">
  	</div>

                  

                    <div class="form-group">
                        <div class="row">
                            <div class="col-xs-8">
                                <input type="submit" id="saveUser" class="btn btn-primary" value="Edit" onclick="return submitUserForm();"/>
                                <input type="button" id="cancel" class="btn btn-primary" value="Cancel" onclick="return cancelUserForm();"/>
                            </div>
                        </div>
                    </div>

                </form>
        </div>

    </div></div>
</div>
    </div>

	<script type="text/javascript">
		function submitUserForm() {

		    // getting the user form values
		    var name = $('#name').val().trim();
		    var password = $('#password').val();
		    var repassword = $('#repassword').val();
		    if(name.length ==0) {
		        alert('Please enter name');
		        $('#name').focus();
		        return false;
		    }

		    if(password.length ==0) {
		        alert('Please enter password');
		        $('#password').focus();
		        return false;
		    }

		    if(password != repassword){
                alert('Both password do not match');
                $('#repassword').focus();
                return false;
		    }

		    return true;
		};

		function cancelUserForm(){
		    window.location.href="home";
		};
	</script>
		</div>
	</div>
<!-- 
	<div class="row">
		<div class="col-md-12">
			<div class="jumbotron">
				<h2>
					Small and Essential Works Agent (SEWA)
				</h2>
				<p>
					This is the place where people can serve people by the people to the people. We can find daily small and essential services providers. Also, people can find suitable jobs for their profession.
				</p>
			</div>
		</div>
	</div>
 -->
	
	<!-- 
<div class="row col-md-10 col-md-offset-1" >
		<div class="col-md-4">
			<h2>
				Edit Profile
			</h2>
			<p>
				Edit your registered profile.
			</p> 
			<button type="button" class="btn active btn-primary">
				Edit Profile
			</button>
		</div>
		<div class="col-md-4">
			<h2>
				View My Services
			</h2>
			<p>
				View all services added by you. Manage your services by adding new one or updating existing one.
			</p> 
			<button type="button" class="btn active btn-primary">
				View My Services
			</button>
		</div>
		<div class="col-md-4">
			<h2>
				View My Jobs
			</h2>
			<p>
				View all jobs added by you. Manage your jobs by adding new one or updating existing one.
			</p>
			<button type="button" class="btn active btn-primary">
				View My Jobs
			</button>
		</div>
	</div>
 -->
</div>

	<script type="text/javascript">
function submitUserForm() {

   // getting the user form values
   var name = $('#name').val().trim();
   var password = $('#password').val();
   var repassword = $('#repassword').val();
   if(name.length ==0) {
       alert('Please enter name');
       $('#name').focus();
       return false;
   }

   if(password.length ==0) {
       alert('Please enter password');
       $('#password').focus();
       return false;
   }

   if(password != repassword){
                alert('Both password do not match');
                $('#repassword').focus();
                return false;
   }

   return true;
};

function cancelUserForm(){
   window.location.href="home";
};
</script>
	
    <script src="js/jquery.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/scripts.js"></script>

    	<script type="text/javascript">
		function editUser() {
			/*$("#mainContents")
            .html('<object data="file:///Users/ParagD/greenfield/projects/Hackathon/Home_Screen/src/edituser.html"/>');
			return;*/
			window.location.href="edituser";
		};
		
		function myServices() {
			/*$("#mainContents")
            .html('<object data="file:///Users/ParagD/greenfield/projects/Hackathon/Home_Screen/src/services.html"/>');
			return;*/
			window.location.href="myservices";
		};
		
		function myJobs() {
			/*$("#mainContents")
            .html('<object data="file:///Users/ParagD/greenfield/projects/Hackathon/Home_Screen/src/jobs.html"/>');
			return;*/
			window.location.href="myjobs";
		};

		function cancelUserForm(){
		    window.location.href="home";
		};
	</script>
  </body>
</html>
<% endblock %>