
{% extends "_base.html" %}

{% block content %}
<link href="http://maxcdn.bootstrapcdn.com/bootswatch/6.2.0/yeti/bootstrap.min.css" rel="stylesheet" media="screen">
<form class="form-login" role="form" method="post" action="">
<div class="col-md-12" >
	<h1>Welcome to Provider Page!</h1><br/></div>
	<div class="col-md-12" >
		<div class="col-md-6">
			<div class="col-md-6" >
				<h4>Enter Orginization name: </h4>
			</div>
			<div class="col-md-6" >
				<input type = "text" name = "Onm" />
			</div></div>

			<div class="col-md-6">
				<div class="col-md-6" >
					<h4>Enter Country:</h4>
				</div>
				<div class="col-md-6" >
					<select name="Cnm">
			</select>
				</div></div>



			<div class="col-md-6">
				<div class="col-md-6" >
					<h4>Enter State:</h4>
				</div>
				<div class="col-md-6" >
					<select name="Sname">
  					<option value="s1">Maharashtra</option>
  					<option value="s2">Delhi</option>
			</select>
				</div></div>
				<div class="col-md-6">
					<div class="col-md-6" >
						<h4>Enter Region:</h4>
					</div>
					<div class="col-md-6" >
						
					<select name="Rname">
  					<option value="s1">Pune</option>
  					<option value="s2">Mumbai</option>
  					</select>

					</div></div>
					<div class="col-md-6">
						<div class="col-md-6" > <h4>Enter Area:</h4></div>
						<div class="col-md-6" >
								<select name="Aname">
  									<option value="s1">Bavdhan</option>
  									<option value="s2">Kothrud</option>
  								</select>
						</div></div>
						<div class="col-md-6">
							<div class="col-md-6" ><h4> Enter Category:</h4></div>
							<div class="col-md-6" >
								<select name="Cname">
  									<option value="s1">Repair</option>
  									<option value="s2">Rent</option>
  								</select>
							</div></div>
							<div class="col-md-6" >
								<div class="col-md-6" ><h4> Enter Sub-Category:</h4></div>
								<div class="col-md-6" >
								<select name="SCname" class="ddlcls">
  									<option value="s1">Plumber</option>
  									<option value="s2">Carpenter</option>
  								</select>

								</div></div>
								<div class="col-md-6">
									<div class="col-md-6" ><h4> Job Description:</h4></div>
									<div class="col-md-6" >
										<input type = "text" name = "JDnm" />
									</div></div>
								</div>
								<div class="col-md-6">
									
									<div class="col-md-6" >
										<div style="padding-left:900px">
										 <button  class="btn btn-success" type="submit">Submit</button>
										</div>
									</div></div>
								</div>
							</form>
<script type="text/javascript">
  jQuery(document).ready(function () {
    //alert("HI anand");
    jQuery.ajax({
      type: "POST",
      url: '/dropdown_info/state',
      contentType: "application/json; charset=utf-8",
      success: function (data) {
        var response, s = '<select>', i;
        //alert(data);
        response = jQuery.parseJSON(data);
        //alert(response);
        //alert(response.length);
        if (response && response.length) {

          var l = response.length;
          //s += "<option value = '" + '0' + " '>" + 'Select Component' + " </option>";
          for (var i = 0; i < l; i++) {

            s += '<option value="' + response[i].key + '">' + response[i].val + '</option>';

          }
        }
        s += '</select>';
        //alert(s);
        jQuery("#Cnm").html(s);
      },
      error: function (data) {
        alert(data);
      }
    });
  });

</script>
								{% endblock %}