
{% extends "_base.html" %}

{% block content %}
<link href="http://maxcdn.bootstrapcdn.com/bootswatch/6.2.0/yeti/bootstrap.min.css" rel="stylesheet" media="screen">
<form class="form-login" role="form" method="post" action="">
	<h1>Welcome to Registration Page!</h1><br/></div>
		<div class='container'>
			<table> 
				<tr>
					<td style='width: 240px;'><h4>Enter Mobile(Username): </h4></td>
					<td><input type = "text" name = "Unm" /></td>
				</tr>
				<tr>
					<td style='width: 240px;'><h4>Enter Password: </h4></td>
					<td><input type = "password" name = "Pnm" /></td>
				</tr>
				<tr>
					<td style='width: 240px;'><h4>Enter Name: </h4></td>
					<td><input type = "text" name = "Nnm" /></td>
				</tr>

				<tr>
					<td style='width: 240px;'><h4>Enter Phone number: </h4></td>
					<td><input type = "text" name = "Phnm" /></td>
				</tr>
				<tr>
					<td style='width: 240px;'><h4>Select State: </h4></td>
					<td >
						<select name="Snm">
  							<option value="Maharashtra">Maharashtra</option>
  							<option value="Delhi">Delhi</option>
  						</select>
  					</td >
				</tr>
				<tr>
					<td style='width: 240px;'><h4>Select City: </h4></td>
					<td >
						<select name="Cnm">
  							<option value="Pune">Pune</option>
  							<option value="Mumbai">Mumbai</option>
  						</select>
  					</td >
				</tr>
				<tr>
					<td style='width: 240px;'><h4>Select Area: </h4></td>
					<td >
						<select name="Anm">
  							<option value="Bavdhan">Bavdhan</option>
  							<option value="Kothrud">Kothrud</option>
  						</select>
  					</td >
				</tr>
				<tr>
					<td style='width: 240px;'><h4>Enter Address: </h4></td>
					<td><input type = "text" name = "Addnm" /></td>
				</tr>
				<tr>
					<td style='width: 240px;'><h4>Enter Code: </h4></td>
					<td><input type = "text" name = "Codenm" /></td>
				</tr>






				<tr>
					<td style='width: 240px;'></td>
					<td ><input type = "submit" value = "Register" style='width:143px' /> </td>
				</tr>

			</table>
				
				
		</div>	
</form>

{% endblock %}